#banner {
  padding: 15px 32px;
  font-size: 1em;
  background-color: #3f72af;
  color: white;
  margin-bottom: 0;
}

#magIcon {
  /* float: right; */
  width: 20px;
  cursor: pointer;
}

#citySearchColumn {
  background-color: #dbe2ef;
  padding: 40px 20px 190px;
  text-align: center;
}

.test1 {
  /* background-color: blue; */
}

.test2 {
  background-color: red;
}

.topWeather {
  background-color: #3c60aa;
  padding: 0;
}

.weatherShow {
  background-color: #3c60aa;
  /* border: solid black 5px; */
  /* height: 550px;
  width: 700px; */
}

.bottomWeather {
  padding: 0;
  border: solid black 5px;
  height: 241px;
  width: 280px;
}

.main2 {
  background-color: #becef0;
  /* border: solid black 5px; */
  height: 550px;
  width: 700px;
}

#weatherIconMain {
  width: 200px;
  padding-top: 35px;
}

.temperatureBlock {
  padding: 0;
  /* float: right; */
}

.temperatureMain {
  padding-top: 20%;
  font-size: 150px;
}

.weatherDesc {
  text-align: center;
  padding-top: 50px;
  font-size: 80px;
}
