#banner {
  padding: 15px 32px;
  font-size: 1em;
  background-color: #3f72af;
  color: white;
  margin-bottom: 0;
}

#magIcon {
  /* float: right; */
  width: 20px;
  cursor: pointer;
}

#citySearchColumn {
  background-color: #dbe2ef;
  padding: 40px 20px 190px;
  text-align: center;
}

.test1 {
  /* background-color: blue; */
}

.test2 {
  background-color: red;
}

.topWeather {
  background-color: #3c60aa;
  padding: 0;
  box-shadow: 0 5px 0 0;
}

.weatherShow {
  background-color: #3c60aa;
  /* border: solid black 5px; */
  /* height: 550px;
  width: 700px; */
}

.bottomWeather {
  padding: 0;
  border: solid black 5px;
  height: 241px;
  width: 280px;
}

.main2 {
  background-color: #becef0;
  /* border: solid black 5px; */
  height: 550px;
  width: 700px;
}

#cityMain {
  text-align: center;
  padding-top: 45px;
  font-size: 50px;
  font-weight: 900;
  color: white;
}

#dateMain {
  text-align: center;
  color: white;
}

#weatherIconMain {
  width: 230px;
  padding: 15px 0 0 20px;
}

.temperatureBlock {
  padding: 0;
  /* float: right; */
}

.temperatureMain {
  padding-top: 30px;
  font-size: 150px;
  color: white;
}

.weatherDesc {
  text-align: center;
  padding-top: 25px;
  font-size: 70px;
  color: white;
}

.stats {
  padding: 55px 0 0 0;
  text-align: center;
}

#humidity,#windSpeed,#Pressure {
font-size: 55px;
}

#humidity {
  padding-top: 40px;
}

#weatherIconBottom {
  text-align: center;
  height: 90px;
}

.weatherDescBottom h1 {
  text-align: center;
  font-size: 25px;
}

.temperatureMin,.temperatureMax {
  text-align: center;
  font-size: 25px;
}

.weatherBottomDate h1 {
  margin: 0;
  padding-top: 15px;
  font-size: 25px;
  text-align: center;
}

.minTempCol,.maxTempCol {
  padding: 0;
}
